<table style="width:200%;">
  <thead>
  <tr>
    <% MushroomHelper.mushroom_attributes.each do |attr| %>
      <th><%= attr[:header] %></th>
    <% end %>
  </tr>
  <tr>
    <%= form_tag search_mushrooms_path, method: :post, remote: true do %>
      <% MushroomHelper.mushroom_attributes.each do |attr| %>
        <th>
          <% attr[:codes].each do |code| %>
            <%= code[1] %>
            <%= check_box(attr[:header], code[0], checked: true) %>
          <% end %>
      <% end %>
      <%= submit_tag 'Filter' %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    Total mushrooms for query: <%= @mushrooms.size %>
  </tr>
  <% @mushrooms.first(100).each do |mushroom| %>
    <tr>
      <% mushroom.each_with_index do |attr, i| %>
        <td><%= MushroomHelper.mushroom_attributes[i][:codes][attr] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
