<h1><%= garbage %></h1>
<table>
  <thead>
  <tr>
    <% @headers.each do |attr| %>
      <th><%= attr[:header] %></th>
    <% end %>
  </tr>
  <tr>
    <%= form_tag search_mushrooms_path, method: :post do %>
      <% @headers.each do |attr| %>
        <th>
          <% attr[:codes].each do |code| %>
            <%= code[1] %>
            <%= check_box(attr[:header], code[0], checked: true) %>
          <% end %>
      <% end %>
      <%= submit_tag 'Filter' %>
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <h3>Total mushrooms for query: <%= mushrooms.size %></h3>
  </tr>
  <% mushrooms.first(100).each do |mushroom| %>
    <tr>
      <% @headers.each do |header| %>
        <td><%= MushroomHelper.mushroom_value(mushroom, header) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
